body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell ;
  background-color: black;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 69px;
  top: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
}

.logo {
  margin-left: 10px;
}

.header img {
  height: 50px;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header li {
  margin: 20px;
}

.header a {
  color: seashell !important;
}

.mission {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 1200px;
}

.FT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
}

.FT img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.FT .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottom-image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image {
  margin: 20px;
}

.locations {
  height: 500px;
  max-width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

.town {
  width: 300px;
  margin-right: 40px;
  margin-top: 15px;
  background-color: black;
  opacity: 1;
  text-align: center;
  color: seashell;
}

.contact {
  height: 200;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: seashell;
}

.footer {
  text-align: left;
  margin-left: 20px;
}
